<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.apache.maps">
    <application android:icon="@drawable/compass">
        <activity class=".BrowseMap" android:label="Android Maps">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity class=".Search" android:label="Find" />
        <activity class=".Bookmark" android:label="Bookmark" />
        <activity class=".BookmarkList" android:label="Bookmarks" />
    </application>
</manifest> 
